* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
  background-color:rgb(246, 246, 246);
}
.game-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  left: 0;
  top: 0;
  color: white;
  font-size: 50px;
}
.game-text .game-explain {
  margin: 2rem;
}
.game-text > button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: salmon;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
  margin: 3rem;
}
.game-text > span {
    padding: 2rem;
    margin-bottom: 2rem;
}
.game-text > .empty-space {
  padding: 100px;
}
.scoreSign {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 30px;
}
.score {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
}
.playground > ul {
  border: 1px solid magenta;
  width: 250px;
  margin: 0 auto;
  background-color: white;
}
.playground > ul > li {
  width: 100%;
  height: 25px;
}
.playground > ul > li > ul {
  display: flex;
}
.playground > ul > li > ul > li {
  width: 25px;
  height: 25px;
  outline: 1px solid #ccc;
}
.tree {
  background: gold
}
.bar {
  background-color: greenyellow;
}
.zee {
  background-color: hotpink;
}
.elLeft {
  background-color: firebrick;
}
.elRight {
  background-color: lightblue;
}
.square {
  background-color: lightslategrey;
}